<!-- Ongoing Task -->

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img class="navbar-brand--logo" src="..//../assets/logo-colored.webp" alt="csi-logo">
    </a>
    
    <div class="float-right">
      <input class="form-control me-5 search-bar-default" type="search" placeholder="Search" aria-label="Search">
      <i class="fa fa-bell"></i>
      <i class="fa fa-th-large"></i>
      <img class="float-right--user-img" src="..//../assets/User.png" alt="User">
    </div>
  </div>
</nav>

<form class="container-fluid justify-content-center align-items-center content">

  <h4 class="head-genneral">General Information</h4>

  <fieldset class="border p-2 fieldset-spacing">
     <legend  class="float-none w-auto p-2"> <h5>Biographic Information</h5> </legend>

     <form class="form-spacing">
      
      <div class="row">
        <div class="col-md-3 mb-3">
          <label class="required mb-1"> First Name </label>
          <input type="text" class="form-control" placeholder="Placeholder">
        </div>
        <div class="col-md-3 mb-3">
          <label class="required mb-1"> Last Name </label>
          <input type="text" class="form-control" placeholder="Placeholder">
        </div>
      </div>

      <div class="row">
        <div class='col-md-3 mb-3'>
          <label class="mb-1" for="inputState">Birthday</label>
          <div class="form-group">
             <div class='input-group date' id='datetimepicker5'>
                <input type='date' class="form-control" placeholder="DD/MM/YYYY"/>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
             </div>
          </div>
       </div>

       <div class="form-group col-md-3 mb-3">
        <label class="mb-1" for="inputState">Gender</label>
        <select id="inputState" class="form-control">
          <option selected>Select</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-3 mb-3">
        <label class="mb-1" for="inputState">Civil Status</label>
        <select id="inputState" class="form-control">
          <option selected>Select</option>
          <option>...</option>
        </select>
      </div>

      <div class="form-group col-md-3 mb-3">
        <label class="mb-1" for="inputState">Nationality</label>
        <select id="inputState" class="form-control">
          <option selected>Select</option>
          <option>...</option>
        </select>
      </div>

      </div>
      
    </form>

    
  </fieldset>

  <fieldset class="border p-2 fieldset-spacing">
    <legend  class="float-none w-auto p-2"> <h5>Contact Information</h5> </legend>

    <form class="form-spacing">
     
     <div class="row">
       <div class="col-md-3 mb-3">
         <label class="mb-1">Phone Number</label>
         <input type="text" class="form-control" placeholder="Placeholder">
       </div>
       <div class="col-md-3 mb-3">
        <label class="mb-1">Email Address</label>
         <input type="text" class="form-control" placeholder="Placeholder">
       </div>
     </div>

     <div class="row">
       <div class='col-md-3 mb-3'>
        <label class="mb-1">Address</label>
         <input type="text" class="form-control" placeholder="Placeholder">
      </div>

      <div class='col-md-3 mb-3'>
        <label class="mb-1">City</label>
         <input type="text" class="form-control" placeholder="Placeholder">
      </div>

      <div class='col-md-3 mb-3'>
        <label class="mb-1">Zip Code</label>
         <input type="text" class="form-control" placeholder="Placeholder">
      </div>

     <div class="form-group col-md-3 mb-3">
      <label class="mb-1" for="inputState">Country</label>
      <select id="inputState" class="form-control">
        <option class="text-color" selected>Select</option>
        <option>...</option>
      </select>
    </div>

    
    </div>
     
   </form>

   
 </fieldset>

 <div class="col-right my-1">
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="clear" class="btn btn-light">Clear</button>
</div>

</form>