<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img class="navbar-brand--logo" src="..//../assets/logo-colored.webp" alt="csi-logo">
    </a>
    
    <div class="float-right">
      <input class="form-control me-5 search-bar-default" type="search" placeholder="Search" aria-label="Search">
      <i class="fa fa-bell"></i>
      <i class="fa fa-th-large"></i>
      <img class="float-right--user-img" src="..//../assets/User.png" alt="User">
    </div>
  </div>
</nav>

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <h1 class="heading__black">Welcome to</h1>
  <h1 class="heading__red">Cloud Solutions International (pvt) ltd</h1>

  
  <button class="btn btn-success btn-block mt-3" (click)="navigateToContent()">Get Started</button>
</div>