<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <h1 class="heading--black">Welcome to</h1>
  <h1 class="heading--red">Cloud Solutions International (pvt) ltd</h1>

  
  <button class="btn btn-primary" (click)="navigateToContent()">Get Started</button>
</div>